@using Newtonsoft.Json
@{
    string jsonFilePath = "wwwroot/data/details.json";
    DataModel? data;

    using (StreamReader reader = new StreamReader(jsonFilePath))
    {
        string json = reader.ReadToEnd();
        data = JsonConvert.DeserializeObject<DataModel>(json);
    }
    var socials = data?.Social;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
</head>
<body class="cairo-font">
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-md position-fixed w-100 p-0">
            <div class="container justify-content-between">
                <a asp-action="Index" asp-controller="Home" class="navbar-brand order-0">  </a>
                <button class="navbar-toggler order-2"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-md-inline-flex justify-content-between flex-grow-0 order-1">
                    <ul class="navbar-nav flex-grow-1 flex-wrap">
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Home" class="nav-link">الرئيسية</a>
                        </li>

                        <li class="nav-item">
                            <a asp-action="Services" asp-controller="Home" class="nav-link">خدماتنا</a>
                        </li>

                        <li class="nav-item">
                            <a asp-action="Articles" asp-controller="Home" class="nav-link">مقالات</a>
                        </li>


                        <li class="nav-item">
                            <a asp-action="TrackAppointments" asp-controller="Home" class="nav-link">متابعة حجوزاتك</a>
                        </li>

                        <li class="nav-item">
                            <a asp-action="AboutUs" asp-controller="Home" class="nav-link">من نحن</a>
                        </li>
                    </ul>
                </div>
                <a class="book-now" asp-action="Book" asp-controller="Home">إحجز موعد</a>
            </div>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer class="pt-5">
        <div class="container">
            <div class="row">
                <div class="col-6 col-lg-4 mb-3">
                    <div>
                        <h3>روابط سريعة</h3>
                        <ul class="list-unstyled">
                            <li class="mb-1"><a asp-action="Index" asp-controller="Home">الرئيسية</a></li>
                            <li class="mb-1"><a asp-action="AboutUs" asp-controller="Home">من نحن</a></li>
                            <li class="mb-1"><a asp-action="Services" asp-controller="Home">خدماتنا</a></li>
                            <li class="mb-1"><a asp-action="Articles" asp-controller="Home">مقالات</a></li>
                            <li class="mb-1"><a asp-action="Book" asp-controller="Home">حجز موعد</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div>
                        <h3>حساباتنا</h3>
                        <ul class="list-unstyled">
                            <li class="mb-1">
                                <a href="@(socials is {}? socials.Facebook:"#")" class="d-flex align-items-center w-25">
                                    فيسبوك
                                </a>
                            </li>
                            <li class="mb-1">
                                <a href="@(socials is {}? socials.Twitter:"#")" class="d-flex align-items-center w-25">
                                    تويتر
                                </a>
                            </li>
                            <li class="mb-1">
                                <a href="@(socials is {}? socials.Instagram:"#")" class="d-flex align-items-center w-25">
                                    انستجرام
                                </a>
                            </li>
                            <li class="mb-1">
                                <a href="@(socials is {}? socials.Youtube:"#")" class="d-flex align-items-center w-25">
                                    يوتيوب
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
