@model IEnumerable<Service>
@{
    ViewData["Title"] = "الخدمات";
    Layout = "_DashboardLayout";
}
<div class="container">
    <div class="d-flex justify-content-end">
        <a asp-action="NewService" asp-controller="Dashboard" class="btn btn-primary py-2 px-4">إضافة خدمة</a>
    </div>
    @if (Model.Any())
    {
        <div class="row row-cols-xxl-3 row-cols-lg-2 row-cols-sm-1">
            @foreach (Service service in Model)
            {
                <div class="p-3">
                    <div class="card text-center" style="height:100%;">
                        <img src="@($"/imgs/services/{service.ServiceImage}")" class="card-img-top" alt="@service.ServiceName">
                        <div class="card-body">
                            <h5 class="card-title">@service.ServiceName</h5>
                            <p class="card-text">@service.ServiceDescription</p>
                            <p class="card-text"><small class="text-muted">@(service.IsActive?"مفعلة":"غير مفعلة")</small></p>
                            <a asp-action="UpdateService" asp-controller="Dashboard" asp-route-id="@service.ServiceId" class="btn btn-warning">تعديل</a>
                            <a asp-action="DeleteService" asp-controller="Dashboard" asp-route-id="@service.ServiceId" class="btn btn-danger">حذف</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <h2 class="text-warning">لا يوجد خدمات لعرضها</h2>
    }
</div>
